<div id = "mySidenav" class = "sidenav">
	
  <a onclick = "showSC()">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="javascript:void(0)" onclick="closeNav()">Contact</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>
