<footer class = "footer">
	<small>
		Juice Me Up 2017
	</small>
	<nav>
		<ul>
			<li><%= link_to "About us", '#' %></li>
			<li><%= link_to "FAQ", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>